<div class="padded-container">
  <% controller.redirect_to '/' unless current_user.admin%>
  
  <h2>
  <span>Total income:<%= @transactions.sum(:amount) * 0.1 %>$</span>
  <span style="display:inline-block; width: 100px;"></span>
  <span>Income this month:<%= @transactions.where({updated_at: Time.now.beginning_of_month..Time.now.end_of_month}).sum(:amount) * 0.1%>$</span>
  </h2>
  <h3 class="table_title">Users</h3>
  <%= render partial: 'table', locals: {data: @users} %>

  <h3 class="table_title">Teenagers</h3>
  <%= render partial: 'table', locals: {data: @teenagers} %>

  <h3 class="table_title">Jobs</h3>
  <%= render partial: 'table', locals: {data: @jobs} %>

  <h3 class="table_title">Job Applications</h3>
  <%= render partial: 'table', locals: {data: @job_applications} %>

  <h3 class="table_title">Change Logs</h3>
  <%= render partial: 'table', locals: {data: @changelogs} %>

  <h3 class="table_title">Endorsements</h3>
  <%= render partial: 'table', locals: {data: @endorsements} %>

  <h3 class="table_title">Reviews</h3>
  <%= render partial: 'table', locals: {data: @reviews} %>

  <h3 class="table_title">Skills</h3>
  <%= render partial: 'table', locals: {data: @skills} %>

  <h3 class="table_title">Transactions</h3>
  <%= render partial: 'table', locals: {data: @transactions} %>
</div>
