<%= form_with model: @job, local: true do |form| %>

  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@job.errors.count, "error") %> prohibited
        this job from being created:
      </h2>
      <ul>
        <% @job.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :username, value: current_user.username %>
  <div class="field">
    <%= form.label :title, 'Title' %><br>
    <%= form.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :location, 'Location' %><br>
    <%= form.text_field :location, autofocus: true, id: 'location' %>
  </div>

  <div class="field">
    <%= form.label :description, 'Description' %><br>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :reocurring, 'Is the work reocurring?' %><br>
    <%= form.check_box :reocurring %>
  </div>

  <div class="field">
    <%= form.label :is_accepting_applicants, "Accepting Applicants? (nobody can apply for this job until checked)" %><br>
    <%= form.check_box :is_accepting_applicants %>
  </div>

  <div class="field">
    <%= form.label :work_date, 'Work Date' %><br>
    <%= form.datetime_local_field :work_date, :value => Time.now.strftime('%Y-%m-%dT%H:%m') %>
  </div>

  <div class="field">
    <%= form.label :response_deadline, 'Response Deadline' %><br>
    <%= form.datetime_local_field :response_deadline, :value => Time.now.strftime('%Y-%m-%dT%H:%m') %>
  </div>

  <div class="field">
    <%= form.label :hourly_pay, 'Hourly Wage' %><br>
    <%= form.number_field :hourly_pay %>
  </div>

  <div class="field">
    <%= form.label :payment_method, 'Payment Method' %><br>
    <%= form.text_field :payment_method %>
  </div>


  <div class="field">
    <%= form.submit %>
  </div>
<% end %>
