<%= form_with model: @job, local: true do |form| %>

  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@job.errors.count, "error") %> prohibited
        this job from being created: <br>
        <% @job.errors.each do |attribute,error|%>
          <%= attribute %>
          <%= error %>
          <br>
        <% end %>

      </h2>
    </div>
  <% end %>

  <%= form.hidden_field :username, value: current_user.username %>
  <div class="field">
    <%= form.label :title, 'Title' %><br>
    <%= render :partial => 'shared/error_explaination', locals: {instance: @job, attribute: :title} %>
    <%= form.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :location, 'Location' %><br>
    <%= render :partial => 'shared/error_explaination', locals: {instance: @job, attribute: :location} %>
    <%= form.text_field :location, id: 'location' %>
  </div>

  <div class="gmap">
    <div id="map"></div>
  </div>

  <script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCW0ugsCqZWxUskx1eCqacGoQCmfz4R5g4&callback=initJobFormMap&libraries=places">
  </script>

  <div class="field">
    <%= form.label :description, 'Description' %><br>
    <%= render :partial => 'shared/error_explaination', locals: {instance: @job, attribute: :description} %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :type_of_service, 'Type of Service' %><br>
    <%= render :partial => 'shared/error_explaination', locals: {instance: @job, attribute: :type_of_service} %>
    <%= form.select :type_of_service, Job.services, :prompt => 'Select One' %>
  </div>

  <div class="field">
    <%= form.label :reocurring, 'Is the work reocurring?' %><br>
    <%= render :partial => 'shared/error_explaination', locals: {instance: @job, attribute: :reocurring} %>
    <%= form.check_box :reocurring %>
  </div>

  <div class="field">
    <%= form.label :is_accepting_applicants, "Accepting Applicants? (nobody can apply for this job until checked)" %><br>
    <%= render :partial => 'shared/error_explaination', locals: {instance: @job, attribute: :is_accepting_applicants} %>
    <%= form.check_box :is_accepting_applicants %>
  </div>

  <div class="field">
    <%= form.label :work_date, 'Work Date' %><br>
    <%= render :partial => 'shared/error_explaination', locals: {instance: @job, attribute: :work_date} %>
    <%= form.datetime_select :work_date, default: DateTime.now %>
  </div>

  <div class="field">
    <%= form.label :response_deadline, 'Response Deadline' %><br>
    <%= render :partial => 'shared/error_explaination', locals: {instance: @job, attribute: :response_deadline} %>
    <%= form.datetime_select :response_deadline, default: DateTime.now %>
  </div>

  <div class="field">
    <%= form.label :hourly_pay, 'Hourly Wage' %><br>
    <%= render :partial => 'shared/error_explaination', locals: {instance: @job, attribute: :hourly_pay} %>
    <%= form.number_field :hourly_pay %>
  </div>

  <div class="field">
    <%= form.submit %>
  </div>
<% end %>
