<%= form_with scope: :job, url: jobs_path, local: true do |form| %>

  <% if @job.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@job.errors.count, "error") %> prohibited
        this job from being created:
      </h2>
      <ul>
        <% @job.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :username %><br>
    <%= form.text_field :username,:readonly => true, value: current_user.username %>
  </div>

  <div class="field">
    <%= form.label :title, 'Name of the Job' %><br>
    <%= form.text_field :title, autofocus: true %>
  </div>

  <div class="field">
    <%= form.label :description, 'New Description' %><br>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :reocurring, 'Reocurring?' %><br>
    <%= form.check_box :reocurring %>
  </div>

  <div class="field">
    <%= form.label :work_date, 'New Work Date' %><br>
    <%= form.datetime_local_field :work_date, :value => Time.now.strftime('%Y-%m-%dT%H:%m') %>
  </div>

  <div class="field">
    <%= form.label :response_deadline, 'New Response Deadling' %><br>
    <%= form.datetime_local_field :response_deadline, :value => Time.now.strftime('%Y-%m-%dT%H:%m') %>
  </div>

  <div class="field">
    <%= form.label :hourly_pay, 'New Hourly Wage' %><br>
    <%= form.number_field :hourly_pay %>
  </div>

  <div class="field">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', jobs_path %>
