<div class="job_container">
  <%= link_to job_path(job) do %>
    <span class="title"><%= job.title %></span>
  <% end %>
  <span class="type_of_service"><%= job.type_of_service %></span>
  <span class="hourly_pay"><%= job.hourly_pay %>$ per hour</span>
  <span class="work_date">WORK DATE: <%= job.work_date %></span>
  <span class="response_deadline">RESPOND BY: <%= job.response_deadline %></span>
  <%= link_to user_path(job.user) do %>
    <span class="username"><%= job.username %></span>
  <% end %>
  <span class="description"><%= job.description %></span>
  <%= link_to job_path(job) do %>
    <span class="view_job">VIEW JOB</span>
  <% end %>
  <% if current_user.admin? or current_user.username == job.username %>
    <div class="edit">
      <%= link_to edit_job_path(job) do %>
        <%= fa_icon "pencil" %>
      <% end %>
    </div>
    <div class="delete">
      <%= link_to job_path(job),
      method: :delete,
      data: { confirm: 'Are you sure?' } do %>
        <%= fa_icon "minus" %>
      <% end %>
    </div>
  <% end %>
</div>
