<div class="gmap">
  <div id="map"></div>
</div>
<script>
    var map;
    var infowindow;

    function initMap() {
      var pyrmont = {lat: -33.867, lng: 151.195};

      map = new google.maps.Map(document.getElementById('map'), {
        center: pyrmont,
        zoom: 15
      });

      infowindow = new google.maps.InfoWindow();
      var service = new google.maps.places.PlacesService(map);
      service.nearbySearch({
        location: pyrmont,
        radius: 500,
        type: ['store']
      }, callback);
    }

    function callback(results, status) {
      if (status === google.maps.places.PlacesServiceStatus.OK) {
        for (var i = 0; i < results.length; i++) {
          createMarker(results[i]);
        }
      }
    }

    function createMarker(place) {
      var placeLoc = place.geometry.location;
      var marker = new google.maps.Marker({
        map: map,
        position: place.geometry.location
      });

      google.maps.event.addListener(marker, 'click', function() {
        infowindow.setContent(place.name);
        infowindow.open(map, this);
      });
    }
</script>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCW0ugsCqZWxUskx1eCqacGoQCmfz4R5g4&callback=initMap&libraries=places">
</script>
<div class="padded-container">
  <h1 class="page_title"> Listing all jobs </h1>
  <% if current_user.account_type == "employer" %>
  <%= link_to new_job_path, class: "add_button" do %>
  <%= fa_icon "plus"%>Post Job
  <% end %>
  <% end %>

  <%= form_tag(jobs_path, method: :get, :class => "search") do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search', name: nil %>
  <% end %>
    <% @jobs.each do |job| %>
    <%= render partial: 'job', locals: {job: job} %>
    <!--<tr>
      <td><%= job.username %></td>
      <td><%= job.title %></td>
      <td><%= job.description %></td>
      <td><%= job.reocurring %></td>
      <td><%= job.work_date %></td>
      <td><%= job.response_deadline %></td>
      <td><%= job.hourly_pay %></td>
      <td><%= job.payment_method %></td>
      <td><%= job.created_at %></td>
      <td><%= job.updated_at %></td>
      <td><%= link_to 'Show', job_path(job) %></td>
      <% if current_user.username == job.username or current_user.admin? %>
      <td><%= link_to 'Edit', edit_job_path(job) %></td>
      <td><%= link_to 'Destroy', job_path(job),
      method: :delete,
      data: { confirm: 'Are you sure?' }%></td>
      <% end %>
    </tr>-->
    <% end %>
</div>
