<div class="gmap">
  <div id="map"></div>
</div>

<%= javascript_tag "g__jobs = #{Job.all.to_json.html_safe};" %>

<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCW0ugsCqZWxUskx1eCqacGoQCmfz4R5g4&callback=initJobIndexMap&libraries=places">
</script>

<div class="padded-container">
  <h1 class="page_title"> Listing all jobs </h1>
  <% if current_user.account_type == "employer" %>
  <%= link_to new_job_path, class: "add_button" do %>
  <%= fa_icon "plus"%>Post Job
  <% end %>
  <% end %>

  <%= form_tag(jobs_path, method: :get, :class => "search") do %>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag 'Search', name: nil %>
  <% end %>
    <% @jobs.each do |job| %>
    <%= render partial: 'job', locals: {job: job} %>
    <% end %>
</div>
