<div class="gmap">
  <div id="map"></div>
</div>


Search for jobs within <%= number_field_tag :search_within_distance, 5000 %>m of: <%= text_field_tag :search_location %>


<% job_routes = [] %>
<% @jobs.each do |job| %>
  <% job_routes.push( job_url(job) ) %>
<% end %>

<%= javascript_tag "g__jobs = #{@jobs.to_json.html_safe};" %>
<%= javascript_tag "g__job_routes = #{job_routes.to_json.html_safe};" %>


<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCW0ugsCqZWxUskx1eCqacGoQCmfz4R5g4&callback=initJobIndexMap&libraries=places">
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
$(document).ready(function() {
  $('#filter_btn').click(function(){
    $('#filter').toggle();
  });
});
</script>

<div class="padded-container">
  <h1 class="page_title"> Listing all jobs </h1>
  <% if current_user.account_type == "employer" %>
    <%= link_to new_job_path, class: "add_button" do %>
      <%= fa_icon "plus"%>Post Job
    <% end %>
  <% end %>
  <div id="filter_btn" class="filter_button">
    Filtering
  </div>
  <div id="filter" class="hidden">
    <%= form_tag(jobs_path, method: :get, :class => "search") do %>
      <% Job.services.each do |service| %>
        <br>
        <% if params[:services]%>
          <%= check_box_tag 'services[]',service, params[:services].include?(service)  %>
        <% else %>
          <%= check_box_tag 'services[]',service%>
        <% end %>
        <%= service %>
      <% end %>
      <%= submit_tag 'Filter', name: nil %>
    <% end %>
  </div>
  <% @jobs.each do |job| %>
    <%= render partial: 'job', locals: {job: job} %>
  <% end %>
</div>
