<h1>New user registration</h1>

<%= form_with scope: :user, local: true do |form| %>
  <p>
    <%= form.label :username %><br>
    <%= form.text_field :username %>
  </p>
 
  <p>
    <%= form.label :password %><br>
    <%= form.text_field :password %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>
