<div class="padded-container">
<%-# Show to all user types -%>
<h2 class="page_title"><%= @user.username %></h2>
<div id="photo_container">
  <%=
    user = @user
    render partial: 'user_image', locals: {user: user}
  %>
</div>
  <% if current_user.admin? or current_user == @user %>
    <%-# Private View -%>
    <span class="edit_link"><%= link_to 'Edit', edit_user_path(@user) %></span>
    <div class="model_data_block">
	  <% if current_user.admin? %>
        <% for attribute in @user.attributes.keys %>
  	      <strong><%= attribute %>: </strong><%= @user.attributes[attribute].to_s %><br>
        <% end %>
	  <% else %>
	    <% for attribute in @attributes_to_display %>
          <strong><%= attribute %>: </strong><%= @user.attributes[attribute].to_s %><br>
        <% end %>
	  <% end %>
    <%= link_to 'Show Resume', resume_user_path + '.pdf' %><br>
    </div>
  <% else %>
    <%-# Public View -%>

  <% end %>
</div>
