<div id="eyecatch">
  <h1>Hello! Welcome to TeenServ</h1>
  <h3>The best place to connect with local employees for short-term work.</h3>
  <div id="features">
    <%= link_to(jobs_path) do %>
      <div class="feature">
        <h4>Open Jobs</h4>
        <p><%= @Jobs.count %></p>
      </div>
    <% end %>
    <%= link_to(jobs_path) do %>
      <div class="feature">
        <h4>Average Wage</h4>
        <p><%= @average_wage.round(2) %></p>
      </div>
    <% end %>
    <%= link_to(users_path) do %>
      <div class="feature">
        <h4>Number of Users</h4>
        <p><%= @Users.count %></p>
      </div>
    <% end %>
  </div>
</div>
<div id="sections">
  <div class="section">
    <span class="clip"><%= image_tag("example_image.jpg") %></span>
    <h4>Lorem Title</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quam tellus, pretium at imperdiet id, venenatis et ligula. Mauris sed dolor nulla. Nulla id ex eu ante mollis feugiat scelerisque et felis.</p>
  </div>
  <div class="section">
    <span class="clip"><%= image_tag("example_image.jpg") %></span>
    <h4>Lorem Title</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quam tellus, pretium at imperdiet id, venenatis et ligula. Mauris sed dolor nulla. Nulla id ex eu ante mollis feugiat scelerisque et felis. Nam at risus ligula. Maecenas malesuada, augue ac gravida tempor, augue elit lobortis metus, eget vestibulum odio dui id mi. Nunc convallis bibendum ex, id tristique sem pellentesque et. Vivamus at scelerisque ipsum. Donec eu risus feugiat, mattis lorem eget, consequat erat. Nullam dapibus in urna nec ultrices.</p>
  </div>
  <div class="section">
    <span class="clip"><%= image_tag("example_image.jpg") %></span>
    <h4>Lorem Title</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras quam tellus, pretium at imperdiet id, venenatis et ligula. Mauris sed dolor nulla. Nulla id ex eu ante mollis feugiat scelerisque et felis. Nam at risus ligula. Maecenas malesuada, augue ac gravida tempor, augue elit lobortis metus, eget vestibulum odio dui id mi.</p>
  </div>
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
  <input type="hidden" name="cmd" value="_s-xclick">
  <input type="hidden" name="hosted_button_id" value="PUK5KXZQAD25U">
  <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  </form>

</div>
