
<div class="padded-container">
  
<h2 class="table_title">Transaction History</h2>

<% if @transaction == nil %>
	<br>
	<h2 class="message">You don't have any past transactions</h2>
<% else %>

<table>
  <tr>
  	<th>Transaction ID</th>
  	<th>Payee</th>
  	<th>Receiver</th>
  	<th>HoursWorked</th>
  	<th>Amount</th>
  	<th>Job ID</th>
  	<th>Job Name </th>
  	<th>Transaction Time</th>
  	<th>Payment Status</th>
  </tr>

	<% @transaction.each do |data| %>
	  <tr>
	      <td><%= data.id %></td>
	      <td><%= data.from_user %></td>
	      <td><%= data.to_user %></td>
	      <td><%= data.HoursWorked %></td>
	      <td><%= data.amount %></td>
	      <td><%= data.service_id %></td>
	      <td>
	      <% if Job.find(data.service_id) == nil %>
	      <%= data.job_name %></td>
	      <%else%>
	      <%= link_to Job.find(data.service_id).title, job_path(Job.find(data.service_id))%>
	      <%end%>
	      </td>
	      <td><%= data.updated_at %></td>
	      <td><%= data.payment_status%></td>
	  </tr>
	<%end%>

</table>
<%end%>

<%= button_to 'Back', users_path %>

</div>