<!DOCTYPE html>
<html>
<head>
  <title>TeenServ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Raleway' %>
</head>
<div class="footer">
	<span><%= link_to "Terms of Service", "/misc/terms" %></span>
	<span><%= link_to "Privacy Policy", "/misc/policy" %></span>
	<span><%= link_to "Contact Us", "/misc/contact" %></span>
	<span><%= link_to "FAQ", "/misc/faq" %></span>
<!--   <span class="separator"></span> -->
<!--  <ul id="languages">  sub-menu is a list inside a list -->
<!--     <%= content_tag :li do %>
      <%= link_to locale: :en_CA do %>
        <%=flag_icon :ca%>English
      <%end%>
      <%= link_to locale: :fr_CA do %>
        <%=flag_icon :ca%>Français
      <%end%>
      <%= link_to locale: :zh_CN do %>
        <%=flag_icon :cn%>简体中文
      <%end%>
      <%= link_to locale: :zh_TW do %>
        <%=flag_icon :cn%>國語
      <%end%>
      <%= link_to locale: :ja do %>
        <%=flag_icon :jp%>日本語
      <%end%>
    <% end %> -->
  <!-- </ul> -->
</div>
</html>
