<!DOCTYPE html>
<html>
<head>
  <title>TeenServ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Lato' %>
</head>
<body>
  <header>
    <div class="container">
      <%= link_to root_path, id: "logo" do %><h1>TeenServ</h1><% end %>
      <ul id="nav">
        <% if signed_in? %>
        <li>
          <%= link_to jobs_path do %>
          <%= fa_icon "briefcase"%>Jobs
          <% end %>
        </li>
        <li>
          <%= link_to users_path do %>
          <%= fa_icon "group"%>Users
          <% end %>
        </li>
        <li>
          <%= link_to user_path(current_user) do %>
          <%= fa_icon "user" %>Profile
          <% end %>
        </li>

        <li>
          <%= link_to conversations_path do %>
          <%= fa_icon "comments-o"%>Message
          <%end%>
        </li>
        <li>
          <%= link_to destroy_user_session_path, :method => :delete do %>
          <%= fa_icon "sign-out"%>Logout
          <% end %>
        </li>

        <% else %>
        <li>
          <%= link_to new_user_session_path do%>
          <%= fa_icon "sign-in"%>Login
          <% end %>
        </li>
        <li>
          <%= link_to new_user_registration_path do %>
          <%= fa_icon "user-plus"%>Register
          <% end %>
        </li>
        <% end %>

      </ul>
    </div>
  </header>

  <% flash.each do |key, value| %>
  <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>

  <section class="container" id="main_content">
    <%= yield %>
  </section>
</body>
<%= render "layouts/footer" %>
</html>
