<!DOCTYPE html>
<html>
<head>
  <title>TeenServ</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Raleway' %>
</head>
<body>
  <header>
    <div class="container">
      <%= link_to root_path, id: "logo" do %><h1>TeenServ</h1><% end %>
      <ul id="nav">
        <% if logged_in? %>
          <li><%= link_to 'Logout', logout_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Log In", login_path %></li>
          <li><%= link_to 'Register', new_user_path %></li>
        <% end %>
      </ul>
    </div>
  </header>
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>
  <section class="container" id="main_content">
    <%= yield %>
  </section>
</body>
</html>
